.section3{
    background-color: var(--azul-escuro);
    color: var(--branco);
    padding: 5rem;
}

.section3-titulo-menor{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
}

.section3-titulo-menor h2{
    margin: 0.5rem;
    text-align: center;
    border-bottom: 4px solid var(--cinza);
    width: 28vh;
    border-radius: 3rem;
}

.section3-container ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    padding: 5rem;
}

.section3-itens img{
    max-width: 10vh;
}

.section3-lista{
    margin: 2rem;
    gap: 3rem;
    border: 1px solid var(--cinza);
    border-radius: 2rem;
    padding: 0.75rem;   
    box-shadow: 0px 2px 5px #BCBCBC;
}

.section3-itens {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.section3-itens span{ 
    font-size: 1.2rem;
    margin: 0.75rem;
}