.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azul-escuro);
    padding: 5rem;
}

.section1-container{
    color: var(--branco);
    padding: 2rem;
    margin: 2rem;
}

.section1-textos p{
    max-width: 50vh;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.section1-textos h1{
    max-width: 100vh;
    font-size: 2.5rem;
    color: var(--cinza);
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid transparent;
    animation: type 4s steps(40) forwards;
}

.section1-imagem img{
    max-width: 40rem;
}

.section1-setas{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding-top: 250px;
}

.section1-setas img{
    height: 50px;
    max-width: 50px;
    animation: float 2.5s infinite;
}

@keyframes type {
    from {
        width: 0;
        border-right: 2px solid transparent;
    }

    to {
        width: 100%;
        border-right: 2px solid var(--cinza);
    }
}

@media screen and (max-width: 730px) {
    .section1{
        flex-direction: column;
    }
}

