.section5 {
    background-color: var(--azul-escuro);
    color: var(--branco);
    padding: 5rem;
}

.section5-titulo-menor{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    margin-bottom: 2rem;
}


.section5-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid #f1f1f1;
    margin: 2em 5rem 2rem 5rem;
    border-radius: 2rem;
}

.section5-input {
    border-radius: 2rem;
    margin: 2rem;
    width: 50%;
}

.section5-input-interno{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem 0 ;
}   

.section5-informações img {
    width: 30%;
    margin: 0.5rem;
}

.section5-informações{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.section5-input input {
    border-radius: 0.2rem;
    border: none;
    padding: 0.5rem;
}


.section5-input textarea {
    resize: none;
    border-radius: 0.2rem;
    padding: 0.5rem;
    border: none;
}

.section5-input button{
    width: 50%;
    border-radius: 0.2rem;
    padding: 0.5rem;
    margin-top: 1rem;
    text-transform: uppercase;
    color: var(--branco);
    background: var(--azul-fechado);
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.section5-input button:hover{
    background: var(--azul-claro);
}

.section5-sessao{
    border: 1px solid #f1f1f1;
    margin: 2rem;
    width: 50%;
    padding: 0.75rem;
    border-radius: 1rem;
    text-align: center; 
}

.section5-sessao:hover{
    background: var(--azul-fechado);
}

.section5-sessao a {
    text-decoration: none;
    color: var(--branco);
}

@media screen and (max-width: 768px) {
    .section5 {
        padding: 2rem;
    }
    
    .section5-container {
        flex-direction: column;
        margin: 0 auto;
    }
    .section5-container {
        width: 100%;
    }
    
    .section5-input, 
    .section5-input input,
    .section5-input textarea,
    .section5-sessao,
    .section5-input button {
        width: 100%;
    }

    .section5-informações{
        width: 80%;
    }

    .section5-informações img {
        width: 10%;
    }
}

@media screen and (max-width:398px){
    .section5-titulo-menor {
        font-size: 25px;
    }

    .section5-input, 
    .section5-input input,
    .section5-input textarea,
    .section5-sessao,
    .section5-input button {
        width: 100%;
    }

    .section5-container {
        margin: 0 auto;
    }

    .section5-informações img {
        width: 20%;
    }
    .section5-informações{
        width: 100%;
    }

    .section5-sessao{
        margin: 1rem auto;
        border: none;
    }

    .section5-input {
        margin: 0 auto;
    }
}