.section1{
    background-color: var(--azul-escuro);
    padding: 5rem;
    width: 100vw;
}

.section1-container{
    color: var(--branco);
    padding: 2rem; 
    margin: 1rem;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.section1-textos p{
    font-size: 25px;
    margin-bottom: 0.75rem;
}

.section1-textos h1{
    font-size: 46px;
    color: var(--cinza);
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid transparent;
    animation: type 4s steps(40) forwards;
}

.section1-imagem img{
    width: 35vw;
}


@keyframes type {
    from {
        width: 0;
        border-right: 2px solid transparent;
    }

    to {
        width: 100%;
        border-right: 2px solid var(--cinza);
    }
}

@media screen and (max-width: 730px) {
    .section1-container{
        flex-direction: column;
        margin: auto;
    }

    .section1-imagem img {
        width: 75vw;
    }

    .section1-textos h1 {
        font-size: 38px;
    }

    .section1-textos p {
        font-size: 20px;
        
    }
}

@media screen and (max-width: 430px) {
    .section1-imagem img {
        width: 80vw;
    }
    .section1-textos h1 {
        font-size: 20px;
    }

    .section1-textos p{
        font-size: 16px;
    }

    .section1{
        padding: 2rem 1rem;
    }

    .section1-container{
        max-width: 50vh;
    }
}

