.section4 {
    background-color: var(--azul-fechado);
    color: var(--branco);
    padding: 5rem;
}

.section4-titulo-menor {
    text-align: center;
    font-size: 25px;
    margin-bottom: 2rem;
}

.section4-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.section4-quadrantes {
    margin: 1rem;
    text-align: center;
    border: 2px solid var(--cinza);
    box-shadow: 0px 2px 5px #BCBCBC;
    padding: 1.5rem;
    border-radius: 2rem;
}


.section4-quadrantes img {
    width: 80%;
    border-radius: 1rem;
    border: 2px solid var(--cinza);
}

.section4-quadrantes h3 {
    font-size: 1.5rem;
    margin: 1rem 1.5rem 2rem 1.5rem;
}

.section4-quadrantes a {
    text-decoration: none;
    color: var(--branco);
    margin: 1rem;
    background: var(--azul-escuro);
    padding: 0.75rem;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4-quadrantes a:hover {
    background: #072541;
    border: none;
    color: var(--branco);
    transition: 0.5s;
}

.section4-quadrantes a i {
    margin: 0.5rem;
}

@media screen and (max-width: 768px) {
    .section4-container {
        margin: 2rem auto;
        grid-template-columns: repeat(2, 1fr);
        width: 50vw;
    }

    .section4-quadrantes {
        margin: 1rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .section4-container {
        grid-template-columns: repeat(1, 1fr);
        width: 50vw;
    }

    .section4-quadrantes {
        padding: 1.5rem;
    }
}

@media screen and (max-width: 398px) {

    .section4-quadrantes {
        padding: 1rem;
        position: relative;
    }

    .section4-container {
        width: 50vw;
        margin: 1rem auto;
        grid-template-columns: repeat(1, 1fr);
    }

    .section4 {
        padding: 2rem;
    }

    .section4-titulo-menor {
        font-size: 25px;
        margin-top: 2rem;
    }

    .section4-quadrantes a {
        width: 40vw;
    }
}