.section2{
    background-color: var(--azul-fechado);
    color: var(--branco);
    padding: 5rem;
    width: 100vw;
}

.titulo-menor{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    margin-bottom: 2rem;
}

.section2-container{    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    gap: 2rem;
    border: 1px solid var(--cinza);
    border-radius: 2rem;
    padding: 0.75rem;   
    box-shadow: 0px 2px 5px #BCBCBC;
    width: 85vw;
}

.section2-img img {
    width: 20vw;
    border-radius: 1rem;
    border: 3px solid var(--cinza);
    margin: 1rem;
}

.section2-container ul li{
    font-size: 1rem;
    margin: 2rem;
    width: 100%;
}

@media screen and (max-width: 730px) {
    .titulo-menor h2 {
        font-size: 28px;
    }

    
    .section2-container {
        flex-direction: column;
        margin: 1rem;
        gap: 2rem;
    }
    
    .section2-img img{
        width: 40vw;
    }

    .section2-container{
        max-width: 100%;
    }
    
    .section2-container ul li {
        margin: 2rem;
        gap: 2rem;
        width: 50vw ;
    }
}


@media screen and (max-width: 430px) {
    .titulo-menor h2 {
        font-size: 1.8rem;
        width: 50vw;
    }
    
    .section2-img img{
        width: 60vw;
    }

    .section2{
        padding: 2rem;
    }

    .section2-container{
        width: 80vw;
        padding: 1rem;
        gap: 1rem;
    }

    .section2-container ul li {
        margin: 0.75rem;
        width: 30vh;
    }
}